
/*----------  variable comment block  ----------*/

$colors: (
    brown: #967d4e,  
    primary-dark: #35424a,  
);
$desktop: 840px;
$padding: 15px;
$borders: 15px;

/*----------  function comment block  ----------*/

@function getColor($color-name){
    @return map-get($colors,$color-name);
}



/*----------  style comment block  ----------*/

body,html{
    height: 100%;
}


body  {
            font-family: 'Arial';
            margin: 0;
}
            
 header{
                color: white;
                display: block;
               
}
  
        /*=============================================
        =            form contact style  comment block            =
        =============================================*/
        
        
        input[type=text], input[type=email],select, textarea {
            width: 70%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            display: block;
          }
          
          input[type=submit] {
            background-color: getColor(brown);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
        
          
                
 /*=====  End of form contact style comment block  ======*/
                
                    
           
#banner{
    //padding: 20%;
    margin: 0px;
    text-align: center;
    background-image: url('../../images/showcase.jpg');
    width: 100%;
    height: 400px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 10% 98% ; 
                h1{
                    margin: 0px;
                    font-size: 37px;
                    padding-top: 80px;
                }
                p{
                    padding: 10px;
                }

}
#newsletter{
      float: left;
      padding: 21px;
      h3{
          display: inline;
          float: left;
      }
      form{
          margin-top: 1em;
          text-align: center;
          float: right;
          button{
              background-color: getColor(brown);
              color: white;
              border-color: getColor(brown);
              height: 42px;
              border: none;
             border-radius: 4px;
          }
          input{
              display: inline;
          }
      }
    margin-bottom: 0px;
    background-color:getColor(primary-dark);
    width: 100%;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
                font-size: 1em;
                text-decoration: none;
                display: block;
  //background-color:getColor(primary-dark);
  border-bottom: getColor(brown) 2px solid;
    ul{
  list-style-type: none;
  margin: 0;
  padding: $padding;
  overflow: hidden;
  background-color:getColor(primary-dark);
    }
    li {
        float: right;
      }
      li a:hover:not(.active) {
        color: getColor(brown);
    }
    li a {
        display: block;
        text-decoration: none;
        color: white;
        //margin-right: 20px;
        padding: 14px 16px;
        text-align: center;
      }
      .active {
        color: getColor(brown);
      }
     
    }   

    .card {
        transition: 0.3s;
        text-align: center;
        display: inline-block;
      }
      
     .card img {
        width: 80px;
        height: 80px;

      }
      
      .container {
        padding: 2px 16px;
      }
.left-float{
    float: left;
}
#contact{
    float: right;
    margin-top: 46px;
}
#logo-text{
    font-size: 1.5em;
}
.text-brown{
    color: getColor(brown);
}

footer{
    color: white;
    text-align: center;
    background-color:getColor(brown);
    padding: 20px;
    margin-bottom: 0px;

}
main section{
    color: #fff;
}
#techno{
    padding-top: 72px;
}
.back-dark{
    background-color: getColor(primary-dark);
    color: #f4f4fd;
    padding: 15px;
}

          
#aboutus{
    padding: 15px;
}
#wedo {
    padding: 15px; 
    margin-top: 31px;
    margin-left: 48px; 
}

        /*=============================================
=            Section comment block            =
=============================================*/

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .heade::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (max-width: 768px) {
    #wedo {
    
        margin: 0px 57px 23px 13px;
        width: 92%;
  }
  
}
/*=====  End of Section comment block  ======*/
        
 .service-block{
    background-color: #dad9d9;
    padding: 15px;
    margin-bottom: 12px;
 }       
      